# Binaries
bin/
!vendor/premake/bin/
bin-int/

# Newt files
*.log
**imgui.ini
*NewtProfile.json
**/assets/cache

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
